body {
    padding-top: 70px;
}

table.table {
    word-break: break-all;
    word-wrap: break-word;
}

.main-container {
    min-width: 800px;
    margin: 0px 15px;
}

.btn-toolbar {
    padding-bottom: 10px;
}

div.col.left-menu {
    padding-left: 0px;
    padding-right: 0px;
}

div.col.left-menu span.label.label-brand {
    font-size: 10px;
    margin-right: 6px;
    padding: 2px 3px;
}

div.col.right-menu {
    padding-left: 0px;
    padding-right: 0px;
}

.editor-container {
    height: 560px;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 3px;
}

#editor {
    width: 100%;
    height: 100%;
}

table.table.wh-param-list td {
    padding: 0;
    vertical-align: middle;
}

table.table > thead > tr > th {
    padding: 6px 4px;
}

table.table.wh-param-list th,
table.table.wh-param-list td {
    width: 20%;
    text-align: center;
}

table.table.wh-param-list td input.form-control {
    border-radius: 0;
    border: none;
    padding: 3px 4px;
}

table.table.wh-param-list td input.form-control[readonly] {
    background-color: #fff;
}
 /* loader */
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load 1.8s infinite ease-in-out;
    animation: load 1.8s infinite ease-in-out;
}
.loader {
    color: #ff9280;
    font-size: 10px;
    margin: 8px auto;
    position: relative;
    top: -15px;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}
.loader:before {
    left: -2.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 2.5em;
}
@-webkit-keyframes load {
    0%,
    80%,
    100% {
        box-shadow: 0 1.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 1.5em 0 0;
    }
}
@keyframes load {
    0%,
    80%,
    100% {
        box-shadow: 0 1.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 1.5em 0 0;
    }
}
