body, html {
    height: 100%;
    width: 100%;
}

.no-padding {
    padding: 0px;
}

table.table {
    word-break: break-all;
    word-wrap: break-word;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

/* ============================= */

.main-container {
    min-width: 800px;
    height: 100%;
    padding: 0px;
}

.main-container .row {
    margin: 0px;
}

.main-container .row:first-child {
    height: 38px;
    border-bottom: #c0c0c0 1px solid;
}

.btn-toolbar {
    background-color: #d4d4d4;
    padding: 2px 2px;
}

div.left-menu,
div.right-menu,
div.content-container {
    height: 100%;
    padding-bottom: 38px;
}

div.col.left-menu span.label.label-brand {
    font-size: 10px;
    margin-right: 6px;
    padding: 2px 3px;
}


div.left-menu .panel,
div.right-menu .panel{
    border-radius: 0px;
}


div.right-menu #attachment-container {
    height: 100%;
    border-left: 1px solid #c0c0c0;
}

.menu-container {
    height: 100%;
    overflow-y: scroll;
    border-radius: 0px;
}
.editor-container {
    height: 100%;
    width: 100%;
    border-left: 1px solid #c0c0c0;
}

#editor {
    width: 100%;
    height: 100%;
    padding-top: 38px;
}

table.table.wh-param-list td {
    padding: 0;
    vertical-align: middle;
}

table.table > thead > tr > th {
    padding: 6px 4px;
}

table.table.wh-param-list th,
table.table.wh-param-list td {
    width: 20%;
    text-align: center;
}

table.table.wh-param-list td input.form-control {
    border-radius: 0;
    border: none;
    padding: 3px 4px;
}

table.table.wh-param-list td input.form-control[readonly] {
    background-color: #fff;
}

/* breakpoint style */
/*.ace_gutter-cell.ace_breakpoint::before{*/
    /*content: '=>';*/
    /*color: red;*/
    /*margin-left: -12px;*/
/*}*/

/* tips style */
.seecoderun_tooltip {
    background-color: #FFF;
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.1));
    border: 1px solid gray;
    border-radius: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    color: black;
    max-width: 100%;
    padding: 3px 4px;
    position: absolute;
    z-index: 999999;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: default;
    white-space: pre;
    word-wrap: break-word;
    line-height: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    pointer-events: none;
}
